@model Spark.Models.SparkArgumentModel

<div class="sparkArgumentPreviewDisagree">
    <div class="sparkArgumentInsideContainerDisagree">
        <div class="sparkArgumentPreviewTitleLineDisagree">
            <div class="sparkDisagreeSpark">
                <img src="~/Images/Icons/SparkIcon1.png" alt="Spark" height="20" width="20" />
            </div>
            <div class="sparkUsernameDisagree">
                @Model.strUserName
            </div>
            <div class="sparkInfluenceScoreDisagree">
                Influence: @Model.nInfluenceScore.ToString()
            </div>
            <div class="sparkDownvoteDisagree">
                -# @Model.nDownVote.ToString()
            </div>
            <div class="sparkUpvoteDisagree">
                +# @Model.nUpVote.ToString()
            </div>
            <div class="sparkCommentsCountDisagree">
                Comment # @Model.nCommentCount.ToString()
            </div>
        </div>
        <div class="sparkConclusion">
                @Html.Raw(Model.strConclusion)
        </div>
        <div class="sparkArgumentFooter">
            <div class="sparkArgumentFlagDisagree">
                <a onclick="" href="#">flag</a>
            </div>
            <div class="sparkExpandDisagree">
                <a href="#modal-text" class="call-modal" title="Clicking this link shows the modal" onclick="popupExpand('@Model.id')">Expand</a>
            </div>
            <div class="sparkAddComment">
                <a @*onclick="addArgument(true, 1)"*@ href="#">Add Comment</a>
            </div>
        </div>
        
    </div>
    <div class="sparkArgumentUpDownVoteDisagree">
        <div class="sparkUpVote"></div>
        <p style="word-wrap:break-word">@Model.nArgumentScore.ToString()</p>
        <div class="sparkDownVote"></div>
    </div>
</div>