@model Spark.Models.SparkArgumentModel

<div class="sparkArgumentPreviewAgree">
    <div class="sparkArgumentInsideContainerAgree">
        <div class="sparkArgumentPreviewTitleLineAgree">
            <div class="sparkAgreeSpark">
                <img src="~/Images/Icons/SparkIcon1.png" alt="Spark" height="20" width="20" />
            </div>
            <div class="sparkUsernameAgree">
                @Model.strUserName
            </div>
            <div class="sparkInfluenceScoreAgree">
                Influence: @Model.nInfluenceScore.ToString()
            </div>
            <div class="sparkDownvoteAgree">
               -# @Model.nDownVote.ToString()
            </div>
            <div class="sparkUpvoteAgree">
                +# @Model.nUpVote.ToString()
            </div>
            <div class="sparkCommentsCountAgree">
                Comment # @Model.nCommentCount.ToString()
            </div>
        </div>
        <div class="sparkConclusion">
            <p>
                @Model.strConclusion
            </p>
        </div>
        <div class="sparkArgumentFooter">
            <div class="sparkArgumentFlagAgree">
                Flag
            </div>
            <div class="sparkAddComment">
                <a @*onclick="addArgument(true, 1)"*@ href="#">Add Comment</a>
            </div>
            <div class="sparkExpandAgree">
                <a onclick="popupExpand('popUpDiv', '@Model.id')" href="#">Expand</a>
            </div>
        </div>
        
    </div>
    <div class="sparkArgumentUpDownVoteAgree">
        <div class="sparkUpVote"></div>
        <p style="word-wrap:break-word">@Model.nArgumentScore.ToString()</p>
        <div class="sparkDownVote"></div>
    </div>
</div>