@model Spark.Models.SparkArgumentModel

<div class="sparkArgumentPreviewDisagree">
    <div class="sparkArgumentInsideContainerDisagree">
        <div class="sparkArgumentPreviewTitleLineDisagree">
            <div class="sparkDisagreeSpark">
                Spark
            </div>
            <div class="sparkUsernameDisagree">
                @Model.strUserName
            </div>
            <div class="sparkInfluenceScoreDisagree">
                @Model.nInfluenceScore.ToString()
            </div>
            <div class="sparkDownvoteDisagree">
                @Model.nDownVote.ToString()
            </div>
            <div class="sparkUpvoteDisagree">
                @Model.nUpVote.ToString()
            </div>
            <div class="sparkCommentsCountDisagree">
                @Model.nCommentCount.ToString()
            </div>
        </div>
        <div class="sparkConclusion">
            <p>
               @Model.strConclusion
            </p>
        </div>
        <div class="sparkArgumentFooter">
            <div class="sparkArgumentFlagDisagree">
                Flag
            </div>
            <div class="sparkExpandDisagree">
                <a onclick="popup('popUpDiv')" href="#">Expand</a>
            </div>
        </div>
    </div>
    <div class="sparkArgumentUpDownVoteDisagree">
        <img>Up</img>
        <p style="word-wrap:break-word">@Model.nArgumentScore.ToString()</p>
        <img>Down</img>
    </div>
</div>