@model Spark.Models.SparkArgumentModel

<div class="sparkArgumentPreviewAgree">
    <div class="sparkArgumentInsideContainerAgree">
        <div class="sparkArgumentPreviewTitleLineAgree">
            <div class="sparkAgreeSpark">
                Spark
            </div>
            <div class="sparkUsernameAgree">
                @Model.strUserName
            </div>
            <div class="sparkInfluenceScoreAgree">
                Influence: @Model.nInfluenceScore.ToString()
            </div>
            <div class="sparkDownvoteAgree">
               -# @Model.nDownVote.ToString()
            </div>
            <div class="sparkUpvoteAgree">
                +# @Model.nUpVote.ToString()
            </div>
            <div class="sparkCommentsCountAgree">
                Comment # @Model.nCommentCount.ToString()
            </div>
        </div>
        <div class="sparkConclusion">
            <p>
                @Model.strConclusion
            </p>
        </div>
        <div class="sparkArgumentFooter">
            <div class="sparkArgumentFlagAgree">
                Flag
            </div>
            <div class="sparkExpandAgree">
                <a onclick="popup('popUpDiv')" href="#">Expand</a>
            </div>
        </div>
    </div>
    <div class="sparkArgumentUpDownVoteAgree">
        <img>Up</img>
        <p style="word-wrap:break-word">@Model.nArgumentScore.ToString()</p>
        <img>Down</img>
    </div>
</div>