@model Spark.Models.SparkArgumentModel

<div class="sparkArgumentPreviewAgree">
    <div class="sparkArgumentInsideContainerAgree">
        <div class="sparkArgumentPreviewTitleLineAgree">
            <div class="sparkAgreeSpark">
                <img src="~/Images/Icons/SparkIcon1.png" alt="Spark" height="20" width="20" />
            </div>
            <div class="sparkUsernameAgree">
                @Model.strUserName
            </div>
            <div class="sparkInfluenceScoreAgree" id="sparkInfluenceScore@(Model.id)">
                Influence: @Model.nInfluenceScore.ToString()
            </div>
            <div class="sparkDownvoteAgree" id="sparkDownvote@(Model.id)">
                -# @Model.nDownVote.ToString()
            </div>
            <div class="sparkUpvoteAgree" id="sparkUpvote@(Model.id)">
                +# @Model.nUpVote.ToString()
            </div>
            <div class="sparkCommentsCountAgree" id="sparkCommentsCount@(Model.id)">
                Comment # @Model.nCommentCount.ToString()
            </div>
        </div>
        <div class="sparkConclusion">
            <p>
                @Html.Raw(Model.strConclusion)
            </p>
        </div>
        <div class="sparkArgumentFooter">
            <div class="sparkArgumentFlagAgree">
                <a onclick="" href="#">flag</a>
            </div>
            <div class="sparkAddComment">
            </div>
            <div class="sparkExpandAgree">
                @Html.ActionLink("Expand", "GetExpandedArgumentView", "Spark", new { id = @Model.id }, null)
            </div>
        </div>

        <div class="hidden" id="HiddenInfluenceScoreDisagree@(Model.id)">@Model.nInfluenceScore.ToString()</div>
        <div class="hidden" id="HiddenDownvote@(Model.id)">@Model.nDownVote.ToString()</div>
        <div class="hidden" id="HiddenUpvote@(Model.id)">@Model.nUpVote.ToString()</div>
        <div class="hidden" id="HiddenCommentsCount@(Model.id)">@Model.nCommentCount.ToString()</div>
        
    </div>
    <div class="sparkArgumentUpDownVoteAgree">
        <div class="sparkUpVote" onclick="CastArgumentVote(@Model.id, true)"></div>
        <p style="word-wrap:break-word">@Model.nArgumentScore.ToString()</p>
        <div class="sparkDownVote" onclick="CastArgumentVote(@Model.id, false)"></div>
    </div>
</div>