@{
    ViewBag.Title = "Homepage";
}

@Scripts.Render("~/Scripts/Homepage.js")
@Styles.Render("~/Content/Homepage.css")

<p class="title" hidden="hidden">Home</p>
<section class="Sparks">
    <div class="CategoryHeaderContainer">
        <p class="FilterHeader">Filter&nbsp;</p>
        <p class="FilterHeader">on category&nbsp;</p>
        <p class="FilterHeader">and/or tag&nbsp;</p>
        <p class="FilterHeader">or just search</p>
    </div>
    <div class="FilterCollectionTable">
        <div class="Row">
            <div class="inputContainer2">
                <div class="inputText2">Category</div>
                    @Html.DropDownList("Category", (SelectList)ViewBag.Categories, string.Empty, new { @class = "select" })
                </div>
            <div class="inputContainer2">
                <div class="inputText2">Tag</div>
                    @Html.DropDownList("Tag", (SelectList)ViewBag.Tags, string.Empty, new { @class = "select" })
                </div>
            <div class="inputContainer2">
                <div class="inputText2">Search</div>
                <input id="Search" class="input2" placeholder="Type here...">
            </div>

            <button class="button2" onclick="Filter()">Go!</button>
        </div>
    </div>
</section>

<p class="CategoryHeader">Trending</p>
<div class="SparkCollectionTable">
    <div class="Row">
        @foreach (Spark.Models.SparkTileModel tile in ViewBag.SparksTiles)
        {
            @Html.Partial("SparkHomepageTile", tile);
            if(tile.UserVoted)
            {
                <script type="text/javascript">
                    ImageClicked('@tile.PK', '@tile.VoteIsUpvote');
                </script>
            }
            <div class="VerticalSeparator"></div>
        }
    </div>
</div>






