<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/NavigationBar.css")
        @Styles.Render("~/Content/Portal.css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
        @Scripts.Render("http://code.jquery.com/ui/1.8.19/jquery-ui.min.js")
        @Scripts.Render("~/Scripts/SparkCreate.js")
    </head>
    <body>
        <header>
             @Html.Partial("_NavigationBarPartial")
        </header>
        <div style="padding-top:80px;">
             @RenderBody()
        </div>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
